

.parent-container {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.parent-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap:16px;
}

.breadcrumb {
  color: #888;
  font-size: 14px;
}

.parent-player-header{
  box-shadow:none !important;
}



.table-row {
  background-color: #fff;
  border: 1px solid #eee;
}

.player-profile-row{
  display: grid
;
  grid-template-columns: 1.2fr 2fr 1.5fr 1.2fr 1.2fr 0.8fr !important;
  padding: 12px 40px;
  /* border-radius: 10px; */
  align-items: center;
  height: 70px;
  border-radius: 19px;
  font-size: 18px;
  font-weight: 500;
}





