.notifications-container {
    padding: 2rem;
    background-color: white;
    flex-grow: 1;
  }
  
  .notifications-header {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
  }
  
  .notifications-header button {
    padding: 12.5px 30px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor:pointer;
    font-size: 16px;
  }
  
  .notifications-list {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
  }
  
  .notification-item {
    height: 60px;
    background-color: #f3f3f3;
    border-radius: 12.5px;
  }